input:checked ~ .toggle__dot {
    transform: translateX(100%);
  }
  
  input:checked ~ .toggle__line {
    background-color: #731E62;
  }
  
  .toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
  }
  
  .toggle__line {
    transition: background 0.3s ease-in-out;
  }